.custom-button {
  min-width: 80%;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bolder;
  border: 1px solid black !important  ;
  cursor: pointer;

  &:hover {
    background-color: black;
    color: white;
  }
}

.inverted {
  background-color: black;
  color: white;
}
